.icono-p{
    width: 50px;
    margin-right: 10px;
}
.color-principal{
    background-color: #2F8F9D;
}
.icon-menu{
    font-size:  1.5rem;
    width: 24px;
    height: 24px;
}
.text-active{
    color: #10f700 !important;
}
#busqueda_h .ui-inputtext{
    width: 400px;
}