.icono-p{
    width: 50px;
    margin-right: 10px;
}
.color-principal{
    background-color: #3BACB6;
}
.icon-menu{
    font-size:  1.5rem;
    width: 24px;
    height: 24px;
}
.text-active{
    color: #2F8F9D !important;
}
#busqueda_h .ui-inputtext{
    width: 400px;
}
.imagen-hotel{
    width: 100%;
}
body .ui-dataview .ui-dataview-content{
    background: none;
}
.item-ciudad{
    text-align: center;
}